canvas {
  display: block;
  margin: auto;
  margin-top: 50px;
  border: 1px solid black;
}
#chatbox-container {
  position: fixed;
  border: 1px solid black;
  right: 50px;
  top: 0;
  margin-top: 50px;
  width: 350px;
  height: 700px;
}

#chatbox-messages {
  height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
}
#chatbox-messages > div {
  font-size: 110%;
  width: 300px;
  height: auto;
  margin: 10px 15px;
  word-wrap: break-word;
}
#chatbox-form input {
  display: block;
  margin: auto;
  width: 90%;
  height: 40px;
  font-size: 120%;
}
