body {
  background: #6e54ff;
}

#home-container {
  margin: auto;
  width: 30%;
  background: #e6ebff;
  margin-top: 32px;
  padding: 20px 5px;
  border-radius: 5px;
}
#home-container input[type='text'] {
  display: block;
  margin: auto;
  width: 50%;
  padding: 10px 5px;
  font-size: 110%;
}

.btn {
  padding: 7px 15px;
  border: none;
  border-radius: 5px;
}
.btn:hover {
  cursor: pointer;
}
.btn-style-1 {
  background: linear-gradient(#032991, #590391);
  color: white;
}
#home-container input[type='submit'] {
  display: block;
  margin: auto;
  margin-top: 16px;
  font-size: 120%;
}
canvas {
  display: block;
  margin: auto;
  margin-top: 50px;
  border: 5px solid #b1bffa;
  border-radius: 10px;
  background: #ffffff;
  grid-column: 2;
}

#game-container {
  display: grid;
  grid-template-columns: auto 800px 400px;
  grid-template-rows: auto auto;
  row-gap: 10px;
  column-gap: 75px;
}

#timer {
  background: #e6e7eb;
  padding: 10px;
  border-radius: 20px;
  width: 20%;
  margin: auto;
  text-align: center;
  font-size: 150%;
}
#chatbox-container {
  position: block;
  margin-top: 50px;
  width: 350px;
  height: 700px;
  border-radius: 5px;
  background: #edeef2;
  grid-column: 3;
}

#chatbox-messages {
  height: 92%;
  overflow-y: auto;
  overflow-x: hidden;
}
#chatbox-messages > div {
  font-size: 110%;
  height: auto;
  word-wrap: break-word;
  padding: 5px 10px;
}
#chatbox-messages > div:nth-of-type(even) {
  background: #ffffff;
}
#chatbox-form input {
  display: block;
  margin: auto;
  width: 90%;
  height: 32px;
  font-size: 120%;
}
#stylepicker-container {
  margin: auto;
  background: #e6e7eb;
  width: 100%;
  margin-top: 32px;
  padding: 10px;
  text-align: center;
  border-radius: 50px;
  grid-row: 2;
  grid-column: 2;
}
#stylepicker-container label {
  margin-right: 3px;
  font-size: 110%;
}
#stylepicker-container input {
  vertical-align: middle;
  margin-right: 32px;
}
.msg-chat {
  color: black;
}
.msg-good,
.msg-bad,
.msg-alert {
  font-weight: bolder;
}
.msg-good {
  color: #209e6e;
}
.msg-bad {
  color: #e30022;
}
.msg-alert {
  color: #6098f7;
}

#scoreboard {
  margin: auto;
  height: auto;
  width: 80%;
  margin-top: 50px;
  grid-column: 1;
  border: 1px solid black;
  background: #edeef2;
  border-radius: 10px;
  font-size: 120%;
}
#scoreboard > div {
  padding: 10px;
  text-align: center;
}
#scoreboard > h2 {
  text-align: center;
  margin: 10px;
}
#scoreboard > div:nth-of-type(odd) {
  background: #ffffff;
}
